html {
  background: #fefef0;
}
body {
  height: 100%;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.container {
  margin: 0 auto;
  width: 800px;
}
@font-face {
  font-family: 'iconfont'; /* project id 96542 */
  src: url("//at.alicdn.com/t/font_n3xm3lv282jfw29.eot");
  src: url("//at.alicdn.com/t/font_n3xm3lv282jfw29.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.woff") format('woff'), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.ttf") format('truetype'), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.svg#iconfont") format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.icon-linkedin:before {
  content: "\e60d";
  position: relative;
  top: -4px;
}
.icon-twitter:before {
  content: "\e600";
}
.icon-weibo:before {
  content: "\e602";
}
.icon-stack-overflow:before {
  content: "\e603";
  font-size: 0.85em;
  position: relative;
  top: -4px;
}
.icon-email:before {
  content: "\e605";
  position: relative;
  top: -2px;
}
.icon-facebook:before {
  content: "\e601";
  font-size: 0.95em;
  position: relative;
  top: -2px;
}
.icon-github:before {
  content: "\e606";
  position: relative;
  top: -3px;
}
.icon-rss:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e609";
}
.icon-zhihu:before {
  content: "\e607";
  font-size: 0.9em;
  position: relative;
  top: -2px;
}
.icon-pocket:before {
  content: "\e856";
}
.icon-heart:before {
  content: "\e608";
}
.icon-right:before {
  content: "\e60a";
}
.icon-left:before {
  content: "\e60b";
}
.icon-up:before {
  content: "\e60c";
}
.icon-search:before {
  content: "\e60e";
}
.icon-close:before {
  content: "\e60f";
}
.site-header {
  width: 100%;
  background: #fefef0;
  border-bottom: 1px solid #dcdcdc;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.site-header.button_wrap {
  display: none;
  float: right;
  padding-top: 25px;
}
.header-inside {
  height: 100%;
  width: 100%;
}
.logo {
  display: inline-block;
  margin-top: 4px;
  float: left;
}
.logo a {
  display: inline-block;
}
.logo a img {
  display: block;
  height: 60px;
}
.collapse {
  float: right;
  height: 65px;
  display: inline-block;
}
.navbar {
  float: rihgt;
}
.navbar ul {
  height: 38px;
  list-style-type: none;
}
.navbar ul:after {
  conten: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.navbar ul li {
  position: relative;
  float: left;
  line-height: 38px;
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  line-height: 1.5;
}
.navbar ul li a:hover {
  opacity: 1;
}
.navbar ul li:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 0%;
  height: 1px;
  background: #7e7e7e;
  display: block;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
}
.navbar ul li:hover:before {
  width: 100%;
}
.other-nav {
  margin: 2em 0;
}
.other-nav .prev,
.other-nav .next {
  font-weight: 600;
  font-size: 20px;
  color: #8a8a8a;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  text-decoration: none;
}
.other-nav .prev {
  float: left;
}
.other-nav .prev:hover {
  transform: translateX(-4px);
}
.other-nav .next {
  float: right;
}
.other-nav .next:hover {
  transform: translateX(4px);
}
.home .content-area {
  padding-bottom: 140px;
}
.post {
  padding-top: 70px;
  padding-bottom: 70px;
}
.post article {
  padding-bottom: 32px;
}
.post .post-copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
  margin: 0 auto;
  padding: 0 0 5em;
}
.post-title {
  letter-sapceing: 0.2em;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
}
.post-title a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.post-title a:hover {
  color: #ffa500;
}
.post-title:after {
  content: "";
  height: 2px;
  width: 100px;
  background: #000;
  display: block;
  margin: 10px auto 0;
}
.home .post-content {
  margin: 1.5em 0;
}
.home .post-content p {
  text-align: center;
}
.posted-on {
  text-align: center;
  font-size: 0.688em;
  text-transform: uppercase;
  letter-sapceing: 0.2em;
}
.tags-links {
  text-align: center;
  font-size: 0.8em;
  font-style: normal;
  margin-bottom: 30px;
}
.tags-links a {
  margin: 0.5px;
  font-style: italic;
  text-decoration: none;
}
.post-nav {
  margin: 1em 0;
  height: 27px;
}
.post-nav .prev,
.post-nav .next {
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  color: #8a8a8a;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.post-nav .prev {
  float: left;
}
.post-nav .prev:hover {
  transform: translateX(-4px);
}
.post-nav .next {
  float: right;
}
.post-nav .next:hover {
  transform: translateX(4px);
}
.footer {
  margin-top: 2em;
}
.footer .social-links {
  text-align: center;
}
.footer .social-links a {
  color: #8a8a8a;
  text-decoration: none;
}
.footer .social-links .iconfont {
  font-size: 30px;
}
.footer .social-links .iconfont + .iconfont {
  margin-left: 10px;
}
.footer .social-links .iconfont:hover {
  color: #8a8a8a;
}
.footer .copyright {
  margin: 10px 0;
  color: #8a8a8a;
  text-align: center;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
}
.footer .copyright .hexo-link,
.footer .copyright .theme-link {
  color: #8a8a8a;
}
.footer .copyright .copyright-year {
  display: block;
}
.footer .copyright .copyright-year .heart {
  font-size: 14px;
}
.archive {
  padding-bottom: 60px;
}
.archive h2.year {
  color: #444;
}
.archive ul.list {
  padding-left: 50px;
}
.archive ul.list li {
  list-style-type: none;
  padding: 10px 0;
  line-height: 1.5;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.archive ul.list li a {
  text-decoration: none;
}
.archive ul.list li:hover {
  transform: translate(10px);
}
.archive .date {
  margin-right: 30px;
  color: #7f8c8d;
}
.tag-cloud {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 2em 0 3em;
  text-align: center;
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
}
.tag-cloud .tag-cloud-title {
  display: inline-block;
  font-size: 18px;
  color: #8a8a8a;
  border-bottom: 2px solid #8a8a8a;
}
.tag-cloud .tag-cloud-tags {
  margin: 10px 0;
}
.tag-cloud .tag-cloud-tags a {
  display: inline-block;
  position: relative;
  margin: 5px 10px;
  word-wrap: break-word;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.tag-cloud .tag-cloud-tags a:active,
.tag-cloud .tag-cloud-tags a:focus,
.tag-cloud .tag-cloud-tags a:hover {
  color: $theme-color;
  transform: scale(1.1);
}
